.surface-border {
    border-color: var(--surface-border)!important;
}
.surface-card {
    background-color: var(--surface-card)!important;
}
.active\:border-primary:active,
.focus\:border-primary:focus,
.hover\:border-primary:hover {
    border-color: var(--primary-color)!important
}

.layout-light {
    --topbar-sticky-bg: hsla(0, 0%, 100%, .7);
    --card-border: 1px solid #dfe7ef;
    --card-bg: #fff;
    --glow-image: url(https://www.primefaces.org/cdn/primereact/images/layout/pattern.png), radial-gradient(50% 50% at center top, var(--primary-100) 0%, #fff 100%);
    --glow-blend: hard-light, multiply;
    --topbar-border: rgba(0, 0, 0, .05);
    --mobile-menu-bg: #000;
    --demo-code-bg: #374151;
    --demo-code-button-color: #d1d5db;
    --demo-code-button-hover-bg: hsla(0, 0%, 100%, .1);
    --demo-code-button-hover-color: #f3f4f6;
    --doc-highlight-text-bg: #fde8c4;
    --doc-highlight-text-color: #623f04;
}